<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Beautybliss</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include ('partials/header.ejs', {isUserLoggedIn}) %>

    <main>
        <section class="about-hero">
            <h2>Our Story</h2>
            <p>At Beautybliss, we believe beauty is more than skin deep. Our mission is to empower individuals to embrace their unique beauty with confidence and grace.</p>
        </section>

        <section class="team">
            <h3>Meet the Team</h3>
            <div class="team-grid">
                <div class="team-member">
                    <img src="/team/dushargarg.jpeg" alt="Team Image" >
                    <h4>Dushar Garg</h4>
                    <p>Founder & Tech Developer</p>
                    <p>
                        <a href="mailto:dushar0076.be23@chitkara.edu.in" class="email-link">
                            <span class="email-text">dushar0076.be23@chitkara.edu.in</span>
                        </a>
                    </p>
                </div>
                <div class="team-member">
                    <img src="/team/deesha.jpeg" alt="Designer">
                    <h4>Deesha</h4>
                    <p>Founder & Tech Developer</p>
                    <p>
                        <a href="mailto:deesha0067.be23@chitkara.edu.in" class="email-link">
                            <span class="email-text">deesha0067.be23@chitkara.edu.in</span>
                        </a>
                    </p>
                </div>
                <div class="team-member">
                    <img src="/team/ayushrana.jpeg" alt="Marketing">
                    <h4>Ayush Rana</h4>
                    <p>Founder & Tech Developer</p>
                    <p>
                        <a href="mailto:ayush0065.be23@chitkara.edu.in" class="email-link">
                            <span class="email-text">ayush0065.be23@chitkara.edu.in</span>
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </main>

    <%- include ('partials/footer.ejs') %>
</body>
</html>

